@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {

  /* Disable scrolling when mobile menu is open */
  body.no-scroll {
    overflow: hidden;
  }

  section {
    @apply py-12 md:py-24 lg:py-32;
  }

}

@layer components {
  .container {
    @apply mx-auto px-2 sm:px-4 lg:px-6;
  }

  .btn {
    @apply cursor-pointer whitespace-nowrap inline-flex gap-2 items-center justify-center rounded font-medium transition-colors duration-200 px-8 py-3 disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-primary {
    @apply border border-pink-500 bg-pink-500 text-white hover:bg-pink-600;
  }

  .btn-outline {
    @apply bg-white border border-pink-500 text-pink-600 hover:bg-pink-50;
  }
}

@utility elevation {
  @apply shadow-md hover:shadow-lg;
}